.header {
    font-size: 20px;
    font-weight: 700;
}



.cardBody {
    width: 70%;
    height: 200%;
    background-color: #9fb5d5;
    display: flex;
}

.cardName {
    font-size: 20px;
    font-weight: normal;
}

.cardDescription {
    font-size: 16px;
    font-weight: normal;
}

.cardInfo {
    display: flex;
    flex-direction: column;
}


.cardLogo {
    display: flex;
}

